<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/style/custom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Golden shoe</title>
    </head>
    <body>
      <%- include ('./common/navbar.ejs') -%>
      <%- include ('./common/message.ejs') -%>
        <h3 class="m-4 fw-bold">Your Orders</h3>
        <!-- Order details -->
        <div class="list-group">
          <% for (let order of orders) {
              let orderClass = "list-group-item-secondary";
              switch(order.status) {
                case 'Delievered' : orderClass =  "list-group-item-success"; break;
                case 'Ordered'    : orderClass =  "ist-group-item-warning"; break;
                case 'Cancelled'  : orderClass =  "list-group-item-light"; break;
                case 'Returned'   : orderClass =  "list-group-item-info"; break;
              }
            %>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start <%=orderClass%>">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%=order.id%></h5>
              <small><%=order.date%></small>
            </div>

            <div>
              <small>Details</small>
              <h5 class="mb-1"><%=order.status%></h5>
              <ul class="list-group">
                <% for(let item of order.items) {%>
                  <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                      <small>ID: <%=item.id%></small>
                      <small>Quantity: <%=item.count%></small>
                      <small>Size: <%=item.size%></small>
                      <small>Cost: <%=item.cost%></small>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
            <div class="m-2">
              <% if(order.status == "Delievered") { %>
                <button type="button" class="btn btn-outline-danger float-right">Return Order</button>
                <% } %>
            </div>
          </a>
          <% } %>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      </body>
</html>